.place__paragraph {
    grid-column: 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    margin: 0 0 25px 0;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 600px) {
    .place__paragraph {
        grid-column: 1;
        margin-top: 32px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
}