.cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    padding-bottom: 32px;
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
    }
}