.cover__title {
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 80%;
        font-size: 32px;
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
    }
}